; Top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4

[*.cs]
trim_trailing_whitespace = true
insert_final_newline = true

[*.csproj]
indent_style = space
indent_size = 2
[*.config]
indent_style = space
indent_size = 2

[*.vsixmanifest]
indent_style = space
indent_size = 2

[*.vsct]
indent_style = space
indent_size = 2